<div *ngIf="covoiturageToEditForm" class="container " style="height: 70vh">
  <form [formGroup]="covoiturageToEditForm" class="form-group grid">
    <mat-form-field class="row">
      <mat-label>Adresse de départ</mat-label>
      <input type="text" formControlName="adresseDepart" id="adresseDepart" matInput><input>
    </mat-form-field>
    <mat-form-field class="row">
      <mat-label>Date de départ</mat-label>
      <input
        type="text"
        id="dateDepart"
        formControlName="dateDepart"
        matInput
        placeholder="Entrez la date de départ"
        [ngxMatDatetimePicker]="dateDepartPicker"
        [min]="currentDate"
      />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="$any(dateDepartPicker)"
      ></mat-datepicker-toggle>
      <ngx-mat-datetime-picker
        #dateDepartPicker
        [showSeconds]="false"
      ></ngx-mat-datetime-picker>
      <mat-error
        *ngIf="covoiturageToEditForm.get('dateDepart')?.hasError('required')"
        class="alert-message"
        >Entrez la date et l'heure de départ</mat-error
      >
    </mat-form-field>
    <mat-form-field class="row">
      <mat-label>Véhicule Personnel</mat-label>
      <mat-select
        (selectionChange)="fillPlacesSelector()"
        formControlName="vehicule"
      >
        <mat-option
          *ngFor="let vehiculePersonnel of vehiculePersonnelList$ | async"
          [value]="vehiculePersonnel"
          >{{ vehiculePersonnel.marque }}
          {{ vehiculePersonnel.modele }}</mat-option
        >
      </mat-select>
      <mat-error
        *ngIf="covoiturageToEditForm.get('vehicule')?.hasError('required')"
        class="alert-message"
        >Sélectionnez un véhicule</mat-error
      >
    </mat-form-field>
    <mat-form-field class="row">
      <mat-label>Nombre de places</mat-label>
      <mat-select formControlName="nbPlaces">
        <mat-option
          *ngFor="let nbPlaces of placesSelector"
          [value]="nbPlaces"
          >{{ nbPlaces }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <!-- <div class="alternative d-flex justify-content-center align-items-center publish w-full">
            <button
              class="mx-5"
              style="width: 15vw;"
              mat-raised-button
              color="warn"
              (click)="cancelPublication()"
            >
              Annuler la publication
            </button>
    
            <button
              class="mx-5"
              mat-raised-button
              color="accent"
              [disabled]="covoiturageDetailsForm.invalid"
              (click)="onSubmit()"
            >
              Publier
            </button> -->
    <!-- </div> -->
  </form>
</div>
