<h1>Réservations de covoiturage</h1>
<div class="row">
    <div class="col-1">
        <button mat-raised-button (click)="enCours()">En Cours</button>
    </div>
    <div class="col-1">
        <button mat-raised-button (click)="historique()">Historique</button>
    </div>
</div>
<mat-card>
    <mat-card-content>
        <app-single-reservation-covoiturage *ngFor="let reservationCovoiturage of listReservationCovoiturage$ | async " [reservationCovoiturage]="reservationCovoiturage"></app-single-reservation-covoiturage>
    </mat-card-content>
</mat-card>
<!-- <mat-card *ngIf="isEmpty">
    <mat-card-content>
        <mat-card-title>Vous n'avez pas de réservations en cours ou historique</mat-card-title>
    </mat-card-content>
</mat-card> -->
<div>
    <button class="searchingButton" mat-raised-button color="primary" routerLink="/covoiturage/reservation/search">Rechercher un covoiturage</button>
</div>