<form [formGroup]="adresseForm">
    <div class="search">
        <label for="searchAdresse"><strong>Adresse d{{step}}</strong></label>
        <input type="text" id="searchAdresse" formControlName ="adresse" [matAutocomplete]="auto" (keyup)="onKeyup()">
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" [panelWidth]="500" [displayWith]="adresseService.displayAdresse" (optionSelected)="addMarker()">
            <mat-option *ngFor="let adresse of adressesResults | async" [value]="adresse"> {{adresse.numero}} {{adresse.complementNumero}} {{adresse.voie}} {{adresse.ville}} {{adresse.departement}}</mat-option>
        </mat-autocomplete>
    </div>
    <button mat-raised-button type="submit" (click)="onSubmit()" [disabled]="adresseForm.invalid">Valider l'adresse d{{step}}</button>
</form>