<!--<div *ngIf="reservationVehicule" class="container border border-dark rounded m-3 p-2">
    <div class="row">
        <div class="col">
            Date de départ : {{reservationVehicule.dateDepart}}
        </div>
        <div class="col">
            Date de retour : {{reservationVehicule.dateRetour}}
        </div>
        <div class="col">
            Immatriculation: {{reservationVehicule.vehiculeSociete?.immatriculation}}
        </div>
        <div class="col">
            Marque : {{reservationVehicule.vehiculeSociete?.marque}}
        </div>
        <div class="col">
            Modèle : {{reservationVehicule.vehiculeSociete?.modele}}
        </div>
    </div>
</div>-->