<form [formGroup]="vehiculePersonnelForm">
    <div>
        <label for="immatriculation">Immatriculation</label>
        <input type="text" id="immatriculation" formControlName="immatriculation">
    </div>
    <div>
        <label for="marque">Marque</label>
        <input type="text" id="marque" formControlName="marque">
    </div>
    <div>
        <label for="modele">Modèle</label>
        <input type="text" id="modele" formControlName="modele">
    </div>
    <div>
        <label for="places">Places</label>
        <input type="text" id="places" formControlName="places">
    </div>
    <div>
        <label for="limitePlaces">Limite de places</label>
        <input type="text" id="limitePlaces" formControlName="limitePlaces">
    </div>
    <button type="submit" (click)="onSubmitForm()">Créer véhicule</button>
</form>