<mat-list>
    <mat-list-item> <strong>Date de Départ : </strong>  {{data.dateDepart}}</mat-list-item>
    <mat-list-item> <strong>Adresse de Départ : </strong> {{data.adresseDepart?.numero}}  {{data.adresseDepart?.complementNumero}} {{data.adresseDepart?.voie}} {{data.adresseDepart?.ville}} {{data.adresseDepart?.codePostal}} {{data.adresseDepart?.departement}} {{data.adresseDepart?.pays}}</mat-list-item>
    <mat-list-item><strong>Adresse d'arrivée : </strong> {{data.adresseArrivee?.numero}}  {{data.adresseArrivee?.complementNumero}} {{data.adresseArrivee?.voie}} {{data.adresseArrivee?.ville}} {{data.adresseArrivee?.codePostal}} {{data.adresseArrivee?.departement}} {{data.adresseArrivee?.pays}}</mat-list-item>
    <mat-list-item> <strong>Places Restantes : </strong> {{data.placesRestantes}}</mat-list-item>
    <mat-list-item> <strong>Nombre de personnes : </strong> {{data.nbPersonnes}}</mat-list-item>
    <mat-list-item> <strong>Durée du trajet : </strong> {{data.dureeTrajet}}</mat-list-item>
    <mat-list-item> <strong>Distance : </strong> {{data.distance}}</mat-list-item>
    <mat-list-item> <strong>Organisateur : </strong> {{data.organisateur?.prenom}} {{data.organisateur?.nom}}</mat-list-item>
    <mat-list-item> <strong>Véhicule Personnel : </strong>{{data.vehiculePersonnel?.marque}} {{data.vehiculePersonnel?.modele}}</mat-list-item>
</mat-list>
<div mat-dialog-actions>
    <button mat-button color="warn" mat-dialog-close>Annuler</button>
    <button mat-button color="primary" mat-dialog-close (click)="onBook()">Réserver</button>
</div>