<header>
    <h1>GP3 Covoiturage Series</h1>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" routerLink="covoiturage/reservation/search" routerLinkActive="active">Rechercher un covoiturage</a>
        <a class="navbar-brand" routerLink="covoiturage/reservation/list" routerLinkActive="active">Mes covoiturages</a>
        <a class="navbar-brand" routerLink="vehicule-personnel/list" routerLinkActive="active">Mes véhicules personnels</a>
        <a class="navbar-brand" routerLink="covoiturage/create" routerLinkActive="active">Créer une annonce</a>
      </nav>
</header>

