<div class="container">
    <form [formGroup]="vehiculePersonnelForm" class="form-group">
        <div>
            <label for="immatriculation">Immatriculation</label>
            <input type="text" id="immatriculation" formControlName="immatriculation">
            <div *ngIf="vehiculePersonnelForm.get('immatriculation')?.hasError('pattern')" class="alert-message">Entrez une immatriculation au format AA-123-AA</div>
            <div *ngIf="vehiculePersonnelForm.get('immatriculation')?.hasError('required')" class="alert-message">Ce champ est requis</div>
        </div>
        <div>
            <label for="marque">Marque</label>
            <input type="text" id="marque" formControlName="marque">
            <div *ngIf="vehiculePersonnelForm.get('marque')?.hasError('required')" class="alert-message">Ce champ est requis</div>
        </div>
        <div>
            <label for="modele">Modèle</label>
            <input type="text" id="modele" formControlName="modele">
            <div *ngIf="vehiculePersonnelForm.get('modele')?.hasError('required')" class="alert-message">Ce champ est requis</div>
        </div>
        <div>
            <label for="places">Places</label>
            <input type="text" id="places" formControlName="places">
            <div *ngIf="vehiculePersonnelForm.get('places')?.hasError('required')" class="alert-message">Ce champ est requis</div>
        </div>
        <div>
            <label for="limitePlace">Limite de places</label>
            <input type="text" id="limitePlace" formControlName="limitePlace">
            <div *ngIf="vehiculePersonnelForm.get('limitePlace')?.hasError('required')" class="alert-message">Ce champ est requis</div>
            <div *ngIf="vehiculePersonnelForm.errors?.['invalidLimitePlace']" class="alert-message">Entrez une limite de places inférieure au nombre de places</div>
        </div>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmitForm()" [disabled]="vehiculePersonnelForm.invalid">Créer véhicule</button>
    </form>
    <button mat-raised-button color="primary" routerLink="../list" class="backList">Revenir à la liste de vos véhicules</button>
</div>