<div class="container">
    <form [formGroup]="resetPasswordForm" class="form-group">
        <div>
            <label for="password">Nouveau mot de passe</label>
            <input type="password" id="password" formControlName="password">
            <div *ngIf="resetPasswordForm.get('password')?.hasError('required')" class="alert-message">Ce champ est requis</div>
        </div>
        <div>
            <label for="passwordConfirm">Confirmez votre nouveau mot de passe</label>
            <input type="password" id="passwordConfirm" formControlName="passwordConfirm">
            <div *ngIf="resetPasswordForm.get('passwordConfirm')?.hasError('required')" class="alert-message">Ce champ est requis</div>
        </div>
        <button mat-raised-button color="primary" type="submit" (click)="onSubmitForm()" [disabled]="resetPasswordForm.invalid">Réinitialiser mot de passe</button>
    </form>
</div>
