<!-- <div style="height: 80svh;" class="container d-flex justify-content-center align-items-center"> -->
<div style="height: 80svh;" class="container">
  <div class="row h-75 align-items-center">
    <form [formGroup]="covoiturageDetailsForm" class="form-group">
      <mat-form-field class="col-md-3">
        <mat-label>Date de départ</mat-label>
        <input
          type="text"
          id="dateDepart"
          formControlName="dateDepart"
          matInput
          placeholder="Entrez la date de départ"
          [ngxMatDatetimePicker]="dateDepartPicker"
          [min]="currentDate"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="$any(dateDepartPicker)"
        ></mat-datepicker-toggle>
        <ngx-mat-datetime-picker
          #dateDepartPicker
          [showSeconds]="false"
        ></ngx-mat-datetime-picker>
        <mat-error
          *ngIf="covoiturageDetailsForm.get('dateDepart')?.hasError('required')"
          class="alert-message"
          >Entrez la date et l'heure de départ</mat-error
        >
      </mat-form-field>
      <mat-form-field class="col-md-3 offset-md-1">
        <mat-label>Véhicule Personnel</mat-label>
        <mat-select
          (selectionChange)="fillPlacesSelector()"
          formControlName="vehicule"
        >
          <mat-option
            *ngFor="let vehiculePersonnel of vehiculePersonnelList$ | async"
            [value]="vehiculePersonnel"
            >{{ vehiculePersonnel.marque }}
            {{ vehiculePersonnel.modele }}</mat-option
          >
        </mat-select>
        <mat-error
          *ngIf="covoiturageDetailsForm.get('vehicule')?.hasError('required')"
          class="alert-message"
          >Sélectionnez un véhicule</mat-error
        >
      </mat-form-field>
      <mat-form-field class="col-md-3 offset-md-1">
        <mat-label>Nombre de places</mat-label>
        <mat-select
          formControlName = "nbPlaces"
        >
          <mat-option
            *ngFor="let nbPlaces of placesSelector"
            [value]="nbPlaces"
          >{{nbPlaces}}</mat-option>
        </mat-select>
      </mat-form-field>
      <div style="width: 127svh;" class="alternative d-flex justify-content-center align-items-center publish">
        <button
          mat-raised-button
          color="accent"
          [disabled]="covoiturageDetailsForm.invalid"
        >
          Publier
        </button>
      </div>
    </form>
  </div>
</div>
