<div class="m-3 p-2">
    <h2>Listes des annonces </h2>
    <button mat-raised-button (click)="enCours()" class="me-2">En Cours</button>
    <button mat-raised-button (click)="historique()">Historique</button>
    
    <app-single-covoiturage *ngFor="let covoituragePersonnel of covoiturageList$ | async" [covoituragePersonnel]="covoituragePersonnel"></app-single-covoiturage>
    
    <button mat-raised-button color="primary" routerLink="../create/adresse-depart">Créer une annonce de covoiturage</button>

</div>

 