<div *ngIf="covoituragePersonnel" class="container-s border border-dark rounded m-3 p-2">
    <div class="row">
        <div class="col-auto">
            <strong>Date de départ</strong> : <p>{{covoituragePersonnel.dateDepart}}</p>
        </div>
        <div class="col-auto">
            <strong>Places restantes</strong> : <p>{{covoituragePersonnel.placesRestantes}}</p>
        </div>
        <div class="col-auto">
            <strong>Nombres de personnes</strong> : <p>{{covoituragePersonnel.nbPersonnes}}</p>
        </div>
        <div class="col-auto">
            <strong>dureeTrajet</strong> : <p>{{covoituragePersonnel.dureeTrajet}}</p>
        </div>
        <div class="col-auto">
            <strong>distance km</strong> : <p>{{covoituragePersonnel.distance}}</p>
        </div>

        <div class="col-auto">
            <strong>organisateur</strong> : <p>{{covoituragePersonnel.organisateurId}}</p>
        </div>

        <div class="col-auto">
            <strong>vehicule personnel</strong> : <p>{{covoituragePersonnel.vehiculePersonnelId}}</p>
        </div>

        <div class="col-auto">
            <strong>adresse de depart</strong> : <p>{{covoituragePersonnel.adresseDepart?.voie}}</p>
        </div>

        <div class="col-auto">
            <strong>adresse arrivée</strong> : <p>{{covoituragePersonnel.adresseArrivee?.voie}}</p>
        </div>
        <div class="col-auto">
            <button mat-raised-button color="primary" [routerLink]="['/covoiturage', covoituragePersonnel.id, 'edit']">
                Editer
            </button>
            <br><button class= mt-3 mat-raised-button color="warn" (click)="displayDetails()">
                Supprimer
            </button>
        </div>
    </div>
</div>
