<div
  *ngIf="covoituragePersonnel"
  class="container border border-dark rounded m-3 p-2"
>
  <div class="row">
    <div class="col">
      <strong>Date de départ</strong> :
      <p>{{ covoituragePersonnel.dateDepart }}</p>
    </div>

    <div class="col">
      <strong>Adresse de depart</strong> :
      <p>
        {{ covoituragePersonnel.adresseDepart?.numero }}
        {{ covoituragePersonnel.adresseDepart?.complementNumero }}
        {{ covoituragePersonnel.adresseDepart?.voie }}
        {{ covoituragePersonnel.adresseDepart?.codePostal }}
        {{ covoituragePersonnel.adresseDepart?.ville }}
      </p>
    </div>

    <div class="col">
      <strong>Adresse arrivée</strong> :
      <p>
        {{ covoituragePersonnel.adresseArrivee?.numero }}
        {{ covoituragePersonnel.adresseArrivee?.complementNumero }}
        {{ covoituragePersonnel.adresseArrivee?.voie }}
        {{ covoituragePersonnel.adresseArrivee?.codePostal }}
        {{ covoituragePersonnel.adresseArrivee?.ville }}
      </p>
    </div>

    <div class="col">
      <strong>Nombres de passagers</strong> :
      <p>{{ covoituragePersonnel.nbPersonnes }}</p>
    </div>
    <!-- <div class="col">
            <strong>dureeTrajet</strong> : <p>{{covoituragePersonnel.dureeTrajet}}</p>
        </div>
        <div class="col">
            <strong>distance km</strong> : <p>{{covoituragePersonnel.distance}}</p>
        </div> -->

    <!-- <div class="col">
            <strong>vehicule personnel</strong> : <p>{{covoituragePersonnel.vehiculePersonnelId}}</p>
        </div> -->

    <div class="col">
      <button
        mat-raised-button
        color="primary"
        [routerLink]="['/covoiturage', covoituragePersonnel.id, 'edit']"
        *ngIf="!hasPeople && enCours"
        class="row"
      >
        Editer
      </button>
      <button
        class="row mt-3"
        mat-raised-button
        color="warn"
        (click)="displayDetailsForCancel()"
        *ngIf="enCours"
      >
        Supprimer
      </button>
      <button *ngIf="!enCours" class="row" mat-raised-button color="primary" (click)="displayDetailsForConsulting()" id="detailsButton">Afficher les détails</button>
    </div>
  </div>
</div>
