<!--<h2>Listes des annonces </h2>

<div class="row">
    <div class="col-1">
        <button mat-raised-button (click)="enCours()">En Cours</button>
    </div>
    <div class="col-1">
        <button mat-raised-button (click)="historique()">Historique</button>
    </div>
</div>
<app-single-reservation-admin *ngFor="let reservationVehicule of listReservationVehicule$ | async " [reservationVehicule]="reservationVehicule"></app-single-reservation-admin>

<button mat-raised-button color="primary" routerLink="../create">Lister</button>-->