
<!--<div> {{covoiturage$.value.id}}</div>-->

<div class="form1">
    <!--ici le formulaire  -->
    <h3>MAJ covoiturage</h3>
    <form [formGroup]="covoiturageFormGroup" >

        <div class="column displayDate" >
        
            <label >Date de départ</label>
            <input type="text" matInput [matDatepicker]="datePicker" formControlName="dateDepart">
            <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
            <mat-datepicker #datePicker></mat-datepicker>
            <div *ngIf="covoiturageFormGroup.get('dateDepart')?.invalid && covoiturageFormGroup.get('dateDepart')?.touched"
                class="error">
                La date de départ est requise
            </div>

            <label>Places restantes</label>
            <input type="number" formControlName="placesRestantes">
            <div *ngIf="covoiturageFormGroup.get('placesRestantes')?.invalid && covoiturageFormGroup.get('placesRestantes')?.touched"
                class="error">
                Le nombre de places restantes est requis
            </div>
            <label>Nombre de personnes</label>
            <input type="number" formControlName="nbPersonnes">
            <div *ngIf="covoiturageFormGroup.get('nbPersonnes')?.invalid && covoiturageFormGroup.get('nbPersonnes')?.touched"
                class="error">
                Le nombre de personnes est requis
            </div>
        </div>
        <div class="column displayDate">
            <label>Durée de trajet (en minutes)</label>
            <input type="number" formControlName="dureeTrajet">
            <div *ngIf="covoiturageFormGroup.get('dureeTrajet')?.invalid && covoiturageFormGroup.get('dureeTrajet')?.touched"
                class="error">
                La durée de trajet est requise
            </div>
        </div>
        <div class="column displayDate">
            <label>Distance (en km)</label>
            <input type="number" formControlName="distance">
            <div *ngIf="covoiturageFormGroup.get('distance')?.invalid && covoiturageFormGroup.get('distance')?.touched"
                class="error">
                La distance est requise
            </div>
        </div>
        <div class="column displayDate">
            <label>Organisateur</label>
            <input type="number" formControlName="organisateur">
            <div *ngIf="covoiturageFormGroup.get('organisateur')?.invalid && covoiturageFormGroup.get('organisateur')?.touched"
                class="error">
                L'organisateur est requis
            </div>
        </div>
        <div class="column displayDate">
            <label>Véhicule personnel</label>
            <input type="number" formControlName="vehiculePersonnel">
            <div *ngIf="covoiturageFormGroup.get('vehiculePersonnel')?.invalid && covoiturageFormGroup.get('vehiculePersonnel')?.touched"
                class="error">
                Le véhicule personnel est requis
            </div>
        </div>

        <div class="gridAdresse">  
            <div class="gridAdresseDepart column displayDate  ">  
        <div formGroupName="adresseDepart">

            <div class="grid-item">
                <label>Numero adresse</label>
                <input type="text" formControlName="numero">
                <div *ngIf="covoiturageFormGroup.get('adresseDepart.numero')?.invalid && covoiturageFormGroup.get('adresseDepart.numero')?.touched"
                    class="error">
                    Le numero est requise
                </div>
            </div>

            <div class="grid-item">
                <label>Complement Numero </label>
                <input type="text" formControlName="complementNumero">
                <div *ngIf="covoiturageFormGroup.get('adresseDepart.complementNumero')?.invalid && covoiturageFormGroup.get('adresseDepart.complementNumero')?.touched"
                    class="error">
                    Le complement numero est requise
                </div>
            </div>

            <div class="grid-item">
                <label>Voie</label>
                <input type="text" formControlName="voie">
                <div *ngIf="covoiturageFormGroup.get('adresseDepart.voie')?.invalid && covoiturageFormGroup.get('adresseDepart.voie')?.touched"
                    class="error">
                    La voie est requise
                </div>
            </div>
            <div class="grid-item">
                <label>Ville</label>
                <input type="text" formControlName="ville">
                <div *ngIf="covoiturageFormGroup.get('adresseDepart.ville')?.invalid && covoiturageFormGroup.get('adresseDepart.ville')?.touched"
                    class="error">
                    La ville est invalide
                </div>
            </div>

            <div class="grid-item">
                <label>Code Postal</label>
                <input type="text" formControlName="codePostal">
                <div *ngIf="covoiturageFormGroup.get('adresseDepart.codePostal')?.invalid && covoiturageFormGroup.get('adresseDepart.codePostal')?.touched"
                    class="error">
                    Le code postal est invalide
                </div>
            </div>


            <div class="grid-item">
                <label>Departement</label>
                <input type="text" formControlName="departement">
                <div *ngIf="covoiturageFormGroup.get('adresseDepart.departement')?.invalid && covoiturageFormGroup.get('adresseDepart.departement')?.touched"
                    class="error">
                    Le departement est invalide
                </div>
            </div>

            <div class="grid-item">
                <label>Pays</label>
                <input type="text" formControlName="pays">
                <div *ngIf="covoiturageFormGroup.get('adresseDepart.pays')?.invalid && covoiturageFormGroup.get('adresseDepart.pays')?.touched"
                    class="error">
                    Le pays est invalide
                </div>
            </div>
        </div>
     </div>

     <div class="gridAdresseDepart column displayDate ">
       <div formGroupName="adresseArrivee">
        <div class="grid-item">
            <label>Numero</label>
            <input type="text" formControlName="numero">
            <div *ngIf="covoiturageFormGroup.get('adresseArrivee.numero')?.invalid && covoiturageFormGroup.get('adresseArrivee.numero')?.touched"
                class="error">
                Le numero est requise
            </div>
        </div>
        <div class="grid-item">
            <label>Complement Numero</label>
            <input type="text" formControlName="complementNumero">
            <div *ngIf="covoiturageFormGroup.get('adresseArrivee.complementNumero')?.invalid && covoiturageFormGroup.get('adresseArrivee.complementNumero')?.touched"
                class="error">
                Le complement numero est requise
            </div>
        </div>


        <div class="grid-item">
            <label>Voie</label>
            <input type="text" formControlName="voie">
            <div *ngIf="covoiturageFormGroup.get('adresseArrivee.voie')?.invalid && covoiturageFormGroup.get('adresseArrivee.voie')?.touched"
                    class="error">
                    La voie est requise
            </div>
        </div>
            <div class="grid-item">
                <label>Ville</label>
                <input type="text" formControlName="ville">
                <div *ngIf="covoiturageFormGroup.get('adresseArrivee.ville')?.invalid && covoiturageFormGroup.get('adresseArrivee.ville')?.touched"
                    class="error">
                    La ville est invalide
                </div>
            </div>
            <div class="grid-item">
                <label>Code Postal</label>
                <input type="text" formControlName="codePostal">
                <div *ngIf="covoiturageFormGroup.get('adresseArrivee.codePostal')?.invalid && covoiturageFormGroup.get('adresseArrivee.codePostal')?.touched"
                    class="error">
                    Le code postal est invalide
                </div>
            </div>
            <div class="grid-item">
                <label>Departement</label>
                <input type="text" formControlName="departement">
                <div *ngIf="covoiturageFormGroup.get('adresseArrivee.departement')?.invalid && covoiturageFormGroup.get('adresseArrivee.departement')?.touched"
                    class="error">
                    Le departement est invalide
                </div>
            </div>
            <div class="grid-item">
                <label>Pays</label>
                <input type="text" formControlName="pays">
                <div *ngIf="covoiturageFormGroup.get('adresseArrivee.pays')?.invalid && covoiturageFormGroup.get('adresseArrivee.pays')?.touched"
                    class="error">
                    Le pays est invalide
                </div>
            </div>
        </div>
    </div>
</div> 
        <button class="edit buttonForm" (click)="editerCovoiturage(covoiturage)" >Edit</button>   <!--methode ici editerCovoiturage -->
   </form>
      <button class='edit buttonBack' routerLink="../../list-covoiturage">Retour</button> <!-- mettre route de redirection ici-->

</div>


