<div class="container">
    <div class="row">
        <div class="col">
            <mat-card *ngIf="currentVehiculeSociete">
                <div class="container">
                    <div class="row">
                        <button mat-button class="col" (click)="previous()">Previous</button>
                        <button mat-button class="col" (click)="next()">Next</button>
                    </div>
                </div>
                <img src="{{currentVehiculeSociete.photo}}" alt="">
                <mat-card-content>
                    <mat-list>
                        <mat-list-item><strong>Marque : </strong>{{currentVehiculeSociete.marque}}</mat-list-item>
                        <mat-list-item><strong>Modèle : </strong>{{currentVehiculeSociete.modele}}</mat-list-item>
                        <mat-list-item><strong>Places : </strong>{{currentVehiculeSociete.places}}</mat-list-item>
                        <mat-list-item><strong>Immatriculation :
                            </strong>{{currentVehiculeSociete.immatriculation}}</mat-list-item>
                    </mat-list>
                </mat-card-content>
            </mat-card>
        </div>
        <!-- <div class="col">
            <div class="container">
                <form [formGroup]="reservationVehiculeEditForm" class="form-group">
                    <div>
                        <label for="dateDepart">Modèle</label>
                        <input type="text" id="dateDepart" formControlName="dateDepart">
                        <div *ngIf="reservationVehiculeEditForm.get('dateDepart')?.hasError('required')"
                            class="alert-message">Ce champ est requis</div>
                    </div>
                    <div>
                        <label for="dateRetour">Places</label>
                        <input type="text" id="dateRetour" formControlName="dateRetour">
                        <div *ngIf="reservationVehiculeEditForm.get('dateRetour')?.hasError('required')"
                            class="alert-message">Ce champ est requis</div>
                    </div>
                   
                    <button mat-raised-button color="primary" type="submit" (click)="onSubmitForm()"
                        [disabled]="listVehiculeSociete$.value.length==0 || reservationVehiculeEditForm.get('dateRetour')?.hasError('required') || reservationVehiculeEditForm.get('dateDepart')?.hasError('required') || reservationVehiculeEditForm.errors?.['minDate']">Réserver
                        le véhicule</button>
                </form>
                <button mat-raised-button color="primary" routerLink="../list" class="backList">Revenir à la liste de
                    vos
                    réservations</button>
            </div>
        </div> -->
        <div class="col">
            <div class="container">
                <form [formGroup]="reservationVehiculeEditForm" class="form-group">
                    <div class="d-flex flex-column align-items-start">
                        <mat-form-field>
                            <mat-label for="dateDepart">Date de départ</mat-label>
                            <input type="text" id="dateDepart" formControlName="dateDepart" matInput
                                [ngxMatDatetimePicker]="dateDepartPicker" [min]="currentDate">
                            <mat-datepicker-toggle matIconSuffix [for]="$any(dateDepartPicker)"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #dateDepartPicker [showSeconds]="false"></ngx-mat-datetime-picker>
                            <mat-error *ngIf="reservationVehiculeEditForm.get('dateDepart')?.hasError('required')"
                                class="alert-message">Ce champ est requis</mat-error>
                        </mat-form-field>
                        <mat-form-field>
                            <mat-label for="dateRetour">Date de retour</mat-label>
                            <input type="text" id="dateRetour" formControlName="dateRetour" matInput
                                [ngxMatDatetimePicker]="dateRetourPicker">
                            <mat-datepicker-toggle matIconSuffix [for]="$any(dateRetourPicker)"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #dateRetourPicker [showSeconds]="false"></ngx-mat-datetime-picker>
                            <mat-error *ngIf="reservationVehiculeEditForm.get('dateRetour')?.hasError('required')"
                                class="alert-message danger">Ce champ est requis</mat-error>
                        </mat-form-field>
                        <div *ngIf="reservationVehiculeEditForm.errors?.['minDate']" class="alert alert-danger">Entrez une
                            date de retour postérieure à la date de départ</div>
                    </div>
                    <button mat-raised-button color="primary" type="submit" (click)="onSubmitForm()"
                        [disabled]="listVehiculeSociete$.value.length==0 || reservationVehiculeEditForm.get('dateRetour')?.hasError('required') || reservationVehiculeEditForm.get('dateDepart')?.hasError('required') || reservationVehiculeEditForm.errors?.['minDate']">Réserver
                        le véhicule</button>
                </form>
                <button mat-raised-button color="primary" routerLink="../list" class="backList">Revenir à la liste de
                    vos
                    réservations</button>
            </div>
        </div>
    </div>
</div>