<h1 class="text-center mb-3">Créer un véhicule de service</h1>
<div style="height: 80svh;" class="container mt-3">
  <form [formGroup]="vSForm" class="form-group">
      <div class="row justify-content-center">
        <mat-form-field class="col-6">
          <mat-label>Immatriculation</mat-label>
          <input type="text" id="immatriculation" formControlName="immatriculation" placeholder="Ex : AA-123-BB" matInput>
          <mat-error *ngIf="vSForm.get('immatriculation')?.invalid && vSForm.get('immatriculation')?.touched" class="alert-message">
            L'immatriculation est requise
        </mat-error>
        </mat-form-field>
      </div>
      <div class="row justify-content-center">
        <mat-form-field class="col-6">
          <mat-label>Marque</mat-label>
          <input type="text" id="marque" formControlName="marque" placeholder="Ex : Renault" matInput>
          <mat-error *ngIf="vSForm.get('immatriculation')?.invalid && vSForm.get('marque')?.touched" class="alert-message">
            Veuillez saisir une marque
        </mat-error>
        </mat-form-field>
      </div>
      <div class="row justify-content-center">
        <mat-form-field class="col-6">
          <mat-label>Modèle</mat-label>
          <input type="text" id="modele" formControlName="modele" placeholder="Ex : Clio" matInput>
          <mat-error *ngIf="vSForm.get('immatriculation')?.invalid && vSForm.get('modele')?.touched" class="alert-message">
            Veuillez saisir un modèle
        </mat-error>
        </mat-form-field>
      </div>
      <div class="row justify-content-center">
        <mat-form-field class="col-6">
          <mat-label>Lien Photo</mat-label>
          <input type="text" id="photo" formControlName="photo" placeholder="URL vers une photo" matInput>
          <mat-error *ngIf="vSForm.get('immatriculation')?.invalid && vSForm.get('photo')?.touched" class="alert-message">
            Veuillez entrer une URL valide vers une photo
        </mat-error>
        </mat-form-field>
      </div>
      <div class="row justify-content-center">
        <mat-form-field class="col-6">
          <mat-label>Nombre de places</mat-label>
          <input type="text" id="places" formControlName="places" matInput>
          <mat-error *ngIf="vSForm.get('immatriculation')?.invalid && vSForm.get('places')?.touched" class="alert-message">
            Saisissez le nombre de places du véhicule
        </mat-error>
        </mat-form-field>
      </div>
      <div class="row justify-content-center">
        <mat-radio-group formControlName="statut" id="statut" class="col-6">
          <mat-radio-button value="1">En service</mat-radio-button>
          <mat-radio-button [disabled]="true" value="0">En Réparation</mat-radio-button>
          <mat-radio-button [disabled]="true" value="-1">Hors service</mat-radio-button>
        </mat-radio-group>
      </div>
      <div class="row justify-content-center">
        <mat-form-field class="col-6">
          <mat-label>Categorie</mat-label>
          <mat-select
            formControlName="categorie"
          >
            <mat-option
              *ngFor="let categorie of allCategories"
              [value]="categorie"
              >{{ categorie }}</mat-option
            >
          </mat-select>
          <mat-error
            *ngIf="vSForm.get('vehicule')?.hasError('categorie')"
            class="alert-message"
            >Sélectionnez une catégorie pour le véhicule</mat-error
          >
        </mat-form-field>
        <div class="alternative row justify-content-center">
          <button mat-raised-button class="col-6" color="accent" (click)="onSubmit()">Créer véhicule de societe</button>
        </div>
      </div>
  </form>
</div>